
.page {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

@media screen {
  .page {
    margin-top: 1em
  }
}

@media print {

  .page {
    box-shadow: none !important;
  }

  .page + .page {
    page-break-before: always;
  }
}
